/* // body {
//   font-family: Roboto, Arial, Helvetica, sans-serif;
//   background: #000;
//   color: #fff;
// }

// .title {
//   text-align: center;
// } */

/* .review-section {
  width: 1200px;
  height: 500px;
  background: #8e00ed;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  text-align: center;
  color: white;
  font-family: 'Almarai', sans-serif;
}
.title .box h1 {
  font-size: 30px;
  padding-top: 10px;
}
.row-around {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.review {
  width: 250px;
 
  margin: 20px 0 0 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.card-wrapper {
  overflow: hidden;
  background: url(https://dl.dropboxusercontent.com/s/ou2wvj3smr8k8eu/bg.jpg);
  background-size: cover;
  min-height: 350px;
  position: relative;
  margin-bottom: 15px;
}

.card-mid {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 95%;
  margin-left: -75px;
  margin-top: -120px;
  border-radius: 100%;
  overflow: hidden;
  border: 4px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  -webkit-transition: all ease-out 0.25s;
  transition: all ease-out 0.25s;
}

.card-wrapper:hover .card-mid {
  border: 3px solid rgba(0, 0, 0, 0.5);
  top: 47%;
}

.card-mid img {
  max-width: 100%;
}

div[class^='col-'] {
  margin: 0;
  padding: 0 1px;
  overflow: hidden;
}

.card-footer {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 0 10px;
}

.card-footer h4 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.left,
.right {
  font-size: 12px;
  margin-bottom: 10px;
  color: #919191;
}

.card-wrapper:hover .left,
.card-wrapper:hover .right {
  color: #fff;
}

.card-wrapper .fa {
  margin-right: 5px;
}

.card-header {
  z-index: 1;
  position: relative;
  padding: 10px;
}

.card-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-out 0.25s;
  transition: all ease-out 0.25s;
  box-shadow: inset 0 0 30px 3px #000;
  z-index: 0;
}

/* BLUE */
/* 
.blue:hover .card-overlay {
  background: #0110df9b;
}

.blue .card-wrapper {
  border-bottom: 3px solid #000fe0;
}

/* RED */

/* .red:hover .card-overlay {
  background: rgba(234, 0, 3, 0.7);
}

.red .card-wrapper {
  border-bottom: 3px solid #ea0000;
} */

/* YELLOW */

/* .yellow:hover .card-overlay {
  background: rgba(255, 229, 0, 0.7);
}

.yellow .card-wrapper {
  border-bottom: 3px solid #ffe500;
} */

/* GREEN */

/* .green:hover .card-overlay {
  background: rgba(0, 153, 37, 0.7);
}

.green .card-wrapper {
  border-bottom: 3px solid #009925;
}  */
