.reviewtag-section {
  height: 500px;
  width: 1200px;
  background: brown;
  margin: auto;
  .title {
    text-align: center;
    h1 {
      color: white;
    }
  }
  .review-block {
    height: 350px;
    width: 1000px;
    margin: auto;
    background: burlywood;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    .cards {
      background: chocolate;
      color: white;
      text-align: center;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.7);

      .card-wrapper {
        background: chartreuse;
        // background: url(https://dl.dropboxusercontent.com/s/ou2wvj3smr8k8eu/bg.jpg);
        height: 300px;
        width: 239px;
        padding-top: 30px;

        .name {
          span {
            margin: -40px 0;
            font-size: 18px;
          }
        }

        .profile {
          margin: 0 0 0 80px;

          height: 75px;
          width: 75px;
          border-radius: 100%;
          overflow: hidden;
          border: 4px solid rgba(0, 0, 0, 0.5);
          box-sizing: border-box;
          -webkit-transition: all ease-out 0.25s;
          transition: all ease-out 0.25s;

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
