.reviewtag-section {
  height: 500px;
  width: 1200px;
  background: brown;
  margin: auto;
  .title {
    text-align: center;
    h1 {
      padding: 20px 0;
      color: white;
    }
  }
  .review-block {
    height: 338px;
    width: 1050px;
    margin: auto;
    background: burlywood;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 26px;
    .cards {
      background: chocolate;
      color: white;
      text-align: center;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.7);

      .card-wrapper1 {
        background: rgb(66, 210, 30);
        height: 317px;

        .card1 {
          background: url(https://dl.dropboxusercontent.com/s/ou2wvj3smr8k8eu/bg.jpg);
          height: 305px;
          width: 240px;
          padding-top: 10px;

          .profile {
            margin: 0 0 20px 80px;

            height: 75px;
            width: 75px;
            border-radius: 100%;
            overflow: hidden;
            border: 4px solid rgba(0, 0, 0, 0.5);
            box-sizing: border-box;
            -webkit-transition: all ease-out 0.25s;
            transition: all ease-out 0.25s;

            img {
              max-width: 100%;
            }
          }

          ul {
            list-style-type: none;
            li {
              float: left;
              margin: 0 2px;
              font-size: 18px;
              color: orange;
              span {
                color: white;
              }
            }
          }

          h4 {
            margin: 30px 0;
            font-size: 20px;
          }
          h5 {
            margin: 30px 0;
            font-size: 20px;
          }
        }
      }
      .card-wrapper2 {
        background: rgb(174, 30, 210);
        height: 317px;
        .card2 {
          height: 305px;
          width: 240px;
          padding-top: 10px;
          background: url(https://dl.dropboxusercontent.com/s/ou2wvj3smr8k8eu/bg.jpg);

          .profile {
            margin: 0 0 20px 80px;

            height: 75px;
            width: 75px;
            border-radius: 100%;
            overflow: hidden;
            border: 4px solid rgba(0, 0, 0, 0.5);
            box-sizing: border-box;
            -webkit-transition: all ease-out 0.25s;
            transition: all ease-out 0.25s;

            img {
              max-width: 100%;
            }
          }

          ul {
            list-style-type: none;
            li {
              float: left;
              margin: 0 2px;
              font-size: 18px;
              color: orange;
              span {
                color: white;
              }
            }
          }

          h4 {
            margin: 30px 0;
            font-size: 20px;
          }
          h5 {
            margin: 30px 0;
            font-size: 20px;
          }
        }
      }
      .card-wrapper3 {
        background: rgb(210, 30, 30);
        height: 317px;
        .card3 {
          background: url(https://dl.dropboxusercontent.com/s/ou2wvj3smr8k8eu/bg.jpg);

          height: 305px;
          width: 240px;
          padding-top: 10px;

          .profile {
            margin: 0 0 20px 80px;

            height: 75px;
            width: 75px;
            border-radius: 100%;
            overflow: hidden;
            border: 4px solid rgba(0, 0, 0, 0.5);
            box-sizing: border-box;
            -webkit-transition: all ease-out 0.25s;
            transition: all ease-out 0.25s;

            img {
              max-width: 100%;
            }
          }

          ul {
            list-style-type: none;
            li {
              float: left;
              margin: 0 2px;
              font-size: 18px;
              color: orange;
              span {
                color: white;
              }
            }
          }

          h4 {
            margin: 30px 0;
            font-size: 20px;
          }
          h5 {
            margin: 30px 0;
            font-size: 20px;
          }
        }
        .card3:hover {
          background: #0110df9b;
          cursor: pointer;
        }
      }

      .card-wrapper4 {
        background: rgb(30, 48, 210);
        height: 317px;
        .card4 {
          background: url(https://dl.dropboxusercontent.com/s/ou2wvj3smr8k8eu/bg.jpg);

          height: 305px;
          width: 240px;
          padding-top: 10px;

          .profile {
            margin: 0 0 20px 80px;

            height: 75px;
            width: 75px;
            border-radius: 100%;
            overflow: hidden;
            border: 4px solid rgba(0, 0, 0, 0.5);
            box-sizing: border-box;
            -webkit-transition: all ease-out 0.25s;
            transition: all ease-out 0.25s;

            img {
              max-width: 100%;
            }
          }

          ul {
            list-style-type: none;
            li {
              float: left;
              margin: 0 2px;
              font-size: 18px;
              color: orange;
              span {
                color: white;
              }
            }
          }

          h4 {
            margin: 30px 0;
            font-size: 20px;
          }
          h5 {
            margin: 30px 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}
